.tasksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    .sortingOptions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40rem;

        button {
            background-color: white;
            border: 1px black solid;
            border-radius: .25rem;
            width: 6.5rem;
        }
    }
}